<!--
  ~ ITEA Office copyright message placeholder.
  ~
  ~ PHP Version 5
  ~
  ~ @category    Project
  ~
  ~ @author      Johan van der Heide <johan.van.der.heide@itea3.org>
  ~ @copyright   2004-2016 ITEA Office
  ~ @license     https://itea3.org/license.txt proprietary
  ~
  ~ @link        http://github.com/iteaoffice/project for the canonical source repository
  -->

<phpunit bootstrap="tests/OrganisationTest/Bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false"
         syntaxCheck="true"
>
    <testsuite name="iteaoffice/organisation">
        <directory>./tests/OrganisationTest</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="./clover.xml"/>
    </logging>
</phpunit>
