{% do headTitle().append(translate("txt-overview-extra-variable-contribution-for-parent-%s-in-program-%s-in-year-%s")|format(parent, program, year)) %}

<h1>{{ translate("txt-overview-extra-variable-contribution-for-parent-%s-in-program-%s-in-year-%s")|format(parent, program, year) }} {{ parentLink(parent, 'overview-extra-variable-contribution-pdf','icon',null, program, year) }}</h1>

{{ overviewExtraVariableContribution(parent, program, year) }}

