{% if  articles|length > 0 %}
    <div class="well well-sm">
        <h3>{{ translate("txt-related-articles-for-organisation-%s")|format(organisation) }}</h3>
        <table class="table">
            {% for article in articles %}
                <tr>
                    <td class="label-cell">{{ articleTypeIcon(article.type) }}</td>
                    <td>{{ articleLink(article,'view-public','name') }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if limit != 0 %}
            {{ organisationLink(organisation,'view-article', 'more') }}
        {% endif %}

    </div>
{% endif %}
