<div class="row">
    <div class="col-md-12">
        <h1> {{ organisationService.organisation }}</h1>
        {% if organisationService.organisation.description %}
            <h2>
            {{ organisationService.organisation.description|raw }}</h2>
        {% endif %}
    </div>
</div>
