{% do headTitle().append(translate("txt-update-organisation-information")) %}

<h1>{{ translate("txt-update-organisation-information") }}</h1>
<p class="lead">{{ translate("txt-organisation-update-procedure-explanation") }}</p>

{% include 'organisation/partial/form/update' %}
