{% do headTitle().append(translate("txt-organisation")) %}
{% do headTitle().append(translate("txt-copy-selection")) %}

<h1>{{ translate("txt-copy-selection") }}</h1>

{% include 'organisation/partial/form/selection' %}