{% do headTitle().append(translate("txt-organisation")) %}
{% do headTitle().append(translate("txt-edit-selection")) %}

<h1>{{ translate("txt-edit-selection") }}</h1>

{% include 'organisation/partial/form/selection' %}