{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-new-note")) %}

<h1 class="display-4">{{ translate("txt-new-note") }}</h1>

{% include 'organisation/partial/form/note' %}

