{% do headTitle().append(translate("txt-overview-variable-contribution-for-parent-%s-in-year-%s")|format(parent, year)) %}

<h1 class="display-4">{{ translate("txt-overview-variable-contribution-for-parent-%s-in-year-%s")|format(parent, year) }}
    {{ parentLink(parent, 'overview-variable-contribution-pdf','icon',null, year) }}</h1>

{{ overviewVariableContribution(parent,year) }}
