{% do headTitle().append(translate("txt-overview-variable-contribution-for-parent-%s-in-program-%s-in-year-%s")|format(parent, program, year)) %}

<h1 class="display-4">{{ translate("txt-overview-variable-contribution-for-parent-%s-in-program-%s-year-%s")|format(parent, program, year) }}
    {{ parentLink(parent, 'overview-variable-contribution-pdf','icon',null, program, year) }}</h1>

{{ overviewVariableContribution(parent ,program, year) }}
