{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-advisory-board")) %}
{% do headTitle().append(translate("txt-new-solution")) %}

<h1>{{ translate("txt-new-solution") }}</h1>

{% include 'organisation/partial/form/advisory-board/solution' %}

